@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>iasset.com Technical Test</h1>
    <p class="lead">Using dummy country and city data. It only supports Australia, United States, United Kingdom, China, and India</p>
</div>

<div class="row">
    <div class="weather-container">
        <h2>Weather</h2>
        <input id="country" name="country" type="text" placeholder="Enter country name" />
        <button id="btn_findCity">Get Cities</button><br />
        <select id="city" name="city" class="city_dropdown">
            <option value="">---- Select City ----</option>
        </select>
        <div id="message" class="message error"></div>
        <br />
        <div class="weather-info">
            <div class="left-label">Location</div><div class="right-data" id="location-name"></div>
            <div class="left-label">Time</div><div class="right-data" id="time"></div>
            <div class="left-label">Wind</div><div class="right-data" id="wind"></div>
            <div class="left-label">Visibility</div><div class="right-data" id="visibility"></div>
            <div class="left-label">Sky Condition</div><div class="right-data" id="description"></div>
            <div class="left-label">Temperature</div><div class="right-data" id="temp"></div>
            <div class="left-label">Dew Point</div><div class="right-data" id="dewpoint">N/A</div>
            <div class="left-label">Relative Humidity</div><div class="right-data" id="humidity"></div>
            <div class="left-label">Pressure</div><div class="right-data" id="pressure"></div>
        </div>


    </div>
    <script>
        $(document).ready(function () {
            $("#btn_findCity").click(function () {
                //clear the error message first
                $("#message").empty();
                //clear the existing dropdown after clicking the find city button
                $("#city").empty();
                $('#city').append(new Option("---- Select City ----", ""));
                //hide the printed weather info
                $(".weather-info").hide();

                var country = $("#country").val();
                if (country == '') {
                    $("#message").text("Please enter a country.");
                    return;
                }

                $.ajax({
                    url: "/api/CountryCity/GetCountryCity",
                    method: "GET",
                    data: { country: country },
                }).done(function (data, textStatus, jqXHR) {
                  
                    if (jqXHR.status == 204) {
                        //handle the noContent status
                        $("#message").text("We have not surport this country's weather forcase yet.");
                    } else {
                        $("#city").empty();
                        $('#city').append(new Option("---- Select City ----", ""));

                        $.each(data, function (index, item) {
                            var option = new Option(item.Name, item.Name + "_" + item.CountryCode);
                            $('#city').append($(option));
                        });
                    }
                });
            });

            $("#city").change(function () {
                //clear the error message first
                $("#message").empty();
                var city = $("#city option:selected").text();
                var cityVal = $("#city option:selected").val();
                var countryCode = cityVal.split('_')[1];

                $.ajax({
                     url: "/api/Weather/GetWeather",
                     method: "GET",
                     data: { countryCode: countryCode, city: city },

                }).done(function (data, textStatus, jqXHR) {
                    
                    if (jqXHR.status == 204) {
                        //handle the noContent status
                        $("#message").text("Can not find Weather Information for the city");
                    }
                    else {
                        var time = new Date(1000 * data.weather.dt).toString();
                        $("#location-name").text(data.name);
                        $("#time").text(time);
                        $("#wind").text("speed:" + data.wind.speed);
                        $("#visibility").text(data.visibility);
                        $("#description").text(data.weather[0].description);
                        $("#temp").text(data.main.temp);
                        $("#humidity").text(data.main.humidity);
                        $("#pressure").text(data.main.pressure);

                        $(".weather-info").show();
                    }
                });


            });


        })

    </script>

</div>


